<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.breathe.breathelk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:fullBackupContent="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity_MainMenu"
            android:label="@string/title_activity__main_menu"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Activity_PersonalInformation" />
        <activity android:name=".Activity_AbooutMain" />
        <activity android:name=".Activity_AboutBreathe" />
        <activity android:name=".Activity_Signup" />
        <activity android:name=".Activity_ForgotPassword" />
        <activity android:name=".Activity_Signin" />
        <activity android:name=".Activity_Launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>